doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sandbox
    link(rel='stylesheet' href='./assets/styles/main.css')
    script(src='./assets/scripts/cssbrowserselector.js')

  body
    header
      a(href='./' target='_self')
        img(src='../../assets/images/logo.svg' alt='')
        div Sandbox

    main
      section#contents
        h1 Contents

        section.content
          h2 Category
          a(href='' target='_self') Input & Textarea
          a(href='' target='_self') Custom Textarea
          a(href='' target='_self') Calendar
          a(href='' target='_self') List

        section.content
          h2 Category
          a(href='' target='_self') List
          a(href='' target='_self') List
          a(href='' target='_self') List
          a(href='' target='_self') List