doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Knitting from Image | Sandbox
    link(rel='icon' href='../../assets/images/favicon.svg')
    link(rel='icon' href='../../assets/images/favicon.png')
    link(rel='apple-touch-icon' href='../../assets/images/favicon.png')
    link(rel='stylesheet' href='../../assets/styles/common.css')
    link(rel='stylesheet' href='../../assets/styles/removescrollbar.css')
    script(src='../../assets/scripts/cssbrowserselector.js')
    script(src='./assets/scripts/script.js' defer)
  body#pp-002
    header
      div.inner
        a#logo(href='../../')
          embed(src='../../assets/images/logo.svg' type='image/svg+xml' aria-label='')
    main
      div#imageContainer
        img(src='./assets/images/joomeokbab.jpg' alt='')#image
        canvas#overlayCanvas
        div#overlayLayer